@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #0c3c53;
}

.naveber {
    width: 35%;
    float: right;
    margin-top: 0;
    margin-right: 5px;
    display: block;
}

.naveber:after {
    content: "";
    display: block;
    clear: both;
}

.naveber li {
    float: left;
    margin-right: 10px;
    background-color: #d8ba11;
    padding: 8px;
    display: block;
}

.naveber li:hover {
    background-color: aqua;
    font-size: 20px;
}

.wrapper .sidebar {
    background: rgb(5, 68, 104);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.wrapper .sidebar .profile {
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .profile img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.wrapper .sidebar .profile h3 {
    color: #ffffff;
    margin: 10px 0 5px;
}

.wrapper .sidebar .profile p {
    color: rgb(206, 240, 253);
    font-size: 14px;
}

.wrapper .sidebar ul li a {
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.wrapper .sidebar ul li a .icon {
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
    color: #0c7db1;
    background: white;
    border-right: 2px solid rgb(10, 234, 250);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon {
    color: #0edfee;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
    display: block;
}

.slider {
    position: relative;
    width: 350px;
    margin: 50px auto;
    perspective: 1000px;
    padding-top: 150px;
}

.rotator {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 55%;
    height: 150px;
    transform-style: preserve-3d;
    animation: roter 29s linear infinite;
}

.items {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: 2px solid white;
}

.items img {
    height: 100%;
    width: 100%;
    transition: all 3s ease;
}

.items:hover img {
    transform: scale(1.1);
}

@keyframes roter {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

.items:first-child {
    transform: rotateY(calc(40deg)) translateZ(300px);
}

.items:nth-child(2) {
    transform: rotateY(calc(80deg)) translateZ(300px);
}

.items:nth-child(3) {
    transform: rotateY(calc(120deg)) translateZ(300px);
}

.items:nth-child(4) {
    transform: rotateY(calc(160deg)) translateZ(300px);
}

.items:nth-child(5) {
    transform: rotateY(calc(200deg)) translateZ(300px);
}

.items:nth-child(6) {
    transform: rotateY(calc(240deg)) translateZ(300px);
}

.items:nth-child(7) {
    transform: rotateY(calc(280deg)) translateZ(300px);
}

.items:nth-child(8) {
    transform: rotateY(calc(320deg)) translateZ(300px);
}

.items:nth-child(9) {
    transform: rotateY(calc(360deg)) translateZ(300px);
}

.rotator:hover {
    animation-play-state: paused;
}

@media screen and (max-width:900px) {
    .slider {
        position: relative;
        width: 250px;
        margin: 50px auto;
        perspective: 600px;
        padding-top: 150px;
    }
    .rotator {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 55%;
        height: 100px;
        transform-style: preserve-3d;
        animation: roter 29s linear infinite;
    }
    .items {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;
        border: 2px solid white;
    }
    .items img {
        height: 100%;
        width: 100%;
        transition: all 3s ease;
    }
    .items:hover img {
        transform: scale(1.1);
    }
    @keyframes roter {
        from {
            transform: rotateY(0deg);
        }
        to {
            transform: rotateY(360deg);
        }
    }
    .items:first-child {
        transform: rotateY(calc(40deg)) translateZ(150px);
    }
    .items:nth-child(2) {
        transform: rotateY(calc(80deg)) translateZ(150px);
    }
    .items:nth-child(3) {
        transform: rotateY(calc(120deg)) translateZ(150px);
    }
    .items:nth-child(4) {
        transform: rotateY(calc(160deg)) translateZ(150px);
    }
    .items:nth-child(5) {
        transform: rotateY(calc(200deg)) translateZ(150px);
    }
    .items:nth-child(6) {
        transform: rotateY(calc(240deg)) translateZ(150px);
    }
    .items:nth-child(7) {
        transform: rotateY(calc(280deg)) translateZ(150px);
    }
    .items:nth-child(8) {
        transform: rotateY(calc(320deg)) translateZ(150px);
    }
    .items:nth-child(9) {
        transform: rotateY(calc(360deg)) translateZ(150px);
    }
    .rotator:hover {
        animation-play-state: paused;
    }
    .naveber {
        width: 15%;
        float: right;
        margin-top: 0;
        margin-right: 0;
        display: block;
    }
    .naveber li {
        float: left;
        margin-right: 0px;
        background-color: #d8ba11;
        padding: 0px;
        display: block;
    }
    .naveber li:hover {
        background-color: aqua;
        font-size: 10px;
    }
}

@media screen and (max-height: 500px) {
    .wrapper .sidebar {
        background: rgb(5, 68, 104);
        top: 0;
        left: 0;
        width: 20%;
        height: 20%;
        padding: 10px 0;
        transition: all 0.5s ease;
    }
    .wrapper .sidebar .profile {
        margin-bottom: 15px;
        text-align: center;
    }
    .wrapper .sidebar .profile img {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 25%;
        margin: 0 auto;
    }
    .wrapper .sidebar .profile h3 {
        color: #ffffff;
        margin: 10px 0 5px;
    }
    .wrapper .sidebar .profile p {
        color: rgb(206, 240, 253);
        font-size: 10px;
    }
    .wrapper .sidebar ul li a {
        display: block;
        padding: 10px 15px;
        border-bottom: 1px solid #10558d;
        color: rgb(241, 237, 237);
        font-size: 10px;
        position: relative;
    }
    .wrapper .sidebar ul li a .icon {
        color: #dee4ec;
        width: 15px;
        display: inline-block;
    }
    .wrapper .sidebar ul li a:hover,
    .wrapper .sidebar ul li a.active {
        color: #0c7db1;
        background: white;
        border-right: 2px solid rgb(10, 234, 250);
    }
    .wrapper .sidebar ul li a:hover .icon,
    .wrapper .sidebar ul li a.active .icon {
        color: #0edfee;
    }
    .wrapper .sidebar ul li a:hover:before,
    .wrapper .sidebar ul li a.active:before {
        display: block;
    }
}